.el1{
     background-color: #F7B5CA;
     width: 30%;
     padding: 40px 120px 40px ; 
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el2{
     background-color: #FFF078;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el3{
     background-color: #F5EDED ;
     width:30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el4{
     background-color: #B5CFB7;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
     
}
.el5{
     background-color: #96C9F4;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el6{
     background-color: #EEEDEB;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}

.el7{
     background-color: #F7B5CA;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}

.el8{
     background-color: #FFF078;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}

.el9{
     background-color: #F5EDED;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el10{
     background-color: #B5CFB7;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el11{
     background-color: #F5EDED;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el12{
     background-color: #F7B5CA;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el13{
     background-color: #FFF078;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el14{
     background-color: #F5EDED;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el15{
     background-color: #B5CFB7;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el16{
     background-color: #96C9F4;
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el17, .el18, .el19, .el20{
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;

}

.el21, .el22, .el23, .el25, .el25, .el26, .el27, .el28, .el29, .el30, .el31, .el32, .el33, .el34, .el35, .el36, .el37, .el38, .el39, .el40, .el41, .el42, .el43, .el44{
     width: 14%;
     padding: 30px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;

}
.el24{
     width: 14%;
     padding: 3px 60px 30px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;

}

.el45, .el47, .el48{
     background-color: #F7B5CA;
     width: 30%;
     padding: 40px 120px 40px;
     margin: 10px;
     display: inline-block;
     border-radius: 5px;
}
.el46{
      width: 30%;
      padding: 5px 120px 40px;
      margin:10px ;
      display: inline-block;
      border-radius: 5px;
}